<div class="row">
  <div class="col-lg-6 col-12">
    <div class="d-flex my-5">
      <div class="me-4 flex-shrink-1">Demo</div>
      <div class="card p-0 w-100">
        <div class="card-body">
          <div class="d-flex text-dark">
            <div class="me-2">
              <strong>All ages and genders:</strong>
            </div>
            <div>
              <%= boolean_to_text resource.media_brief.all_demographics %>
            </div>
          </div>
          <div class="d-flex text-dark">
            <div class="me-2">
              <strong>Targeted Gender(s):</strong>
            </div>
            <div>
              <% if resource.media_brief.all_demographics %>
                <span>ALL</span>
              <% else %>
                <ul>
                  <% resource.media_brief.demographic_genders_list.each do |gender| %>
                    <li><%= gender.label %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
          <div class="d-flex text-dark">
            <div class="me-2">
              <strong>Age(s):</strong>
            </div>
            <div>
              <% if resource.media_brief.all_demographics %>
                <span>ALL</span>
              <% else %>
                <ul>
                  <% resource.media_brief.demographic_ages_list.each do |age| %>
                    <li><%= age %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div><!--card-->
    </div><!--d-flex-->
    <div class="d-flex my-5">
      <div class="me-4 flex-shrink-1">Geo</div>
      <div class="card p-0 w-100">
        <div class="card-body text-dark">
          <div class="ps-5">
            <ul>
              <% enum_truly(resource.media_brief.geographic_targets).each do |key, value| %>
                <li>
                  <strong><%= GeographicTarget.find(key).label %></strong>
                  <ul>
                    <% if geographic_by_type(resource.media_brief, key).present? %>
                      <% geographic_by_type(resource.media_brief, key).each do |text|%>
                        <li><%= text %></li>
                      <% end %>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div><!--card-->
    </div><!--d-flex-->
  </div>

  <div class="col-lg-6 col-12">
    <div class="d-flex my-5">
      <div class="me-4 flex-shrink-1">Audience Overlays</div>
      <div class="card p-0 w-100">
        <div class="card-body py-0">
          <ul class="list-group list-group-flush p-0">
            <% if resource %>
              <% unless audience_overlays.any?  %>
                Output not possible.<br/>
                Under some circumstances, an audience overlays output may not be possible. This could be due to misspellings, highly nuanced details, or technical issues. <br/>
                If you’ve inputted the desired demographic details correctly and are receiving this message, a member of the Media Launcher team will be reaching out to review it with you.
              <% end %>

              <% audience_overlays.each do |audience_overlay| %>
                <li class="list-group-item text-dark px-0"><%= audience_overlay %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div><!--card-->
    </div><!--d-flex-->
  </div>
</div>
