<div class="d-flex mb-<%= field_separation %>">
  <div class="me-2">
    <strong>Do you have any current/previous digital campaign results to share?</strong>
  </div>
  <div>
   <%= MediaBriefPreviousData.find(resource.previous_campaign_data).label %>
 </div>
</div>
<div class="d-flex mb-<%= field_separation %>">
  <div class="me-2">
    <strong>Is there any current/previous customer data (CRM) available to use?</strong>
  </div>
  <div>
   <%= MediaBriefPreviousData.find(resource.previous_customer_data).label %>
 </div>
</div>
<div class="d-flex mb-<%= field_separation %>">
  <div class="me-2">
    <strong>Is there access to place tracking & reporting pixels?</strong>
  </div>
  <div>
   <%= boolean_to_text(resource.tracking_pixel_access) %>
 </div>
</div>
<div class="d-flex mb-<%= field_separation %>">
  <div class="me-2">
    <strong>Current Tracking Capabilities:</strong>
  </div>
  <div>
    <%= TrackingCapability.find(resource.tracking_capability).label %>
    <% if other_tracking_capability_disabled?(resource) %>
      - <%= resource.other_tracking_capability %>
    <% end %>
  </div>
</div>
